tensorflow==2.18.0

numpy==2.0.2
pandas==2.3.2
scipy==1.16.1

scikit-learn==1.7.1

librosa==0.11.0
soundfile==0.13.1
audioread==3.0.1

matplotlib==3.10.6
seaborn==0.13.2

sounddevice==0.5.2

transformers==4.56.1
datasets==4.0.0
tokenizers==0.22.0

torch==2.8.0
torchaudio==2.8.0

openai-whisper==20250625

tqdm==4.67.1
joblib==1.5.2

huggingface-hub==0.34.4

protobuf==5.29.5

h5py==3.14.0
pickle-mixin==1.0.2
